.panel.panel-default
  .panel-heading
    = order.user.name
    .pull-right ##{order.id}
  %table.table.table-hover.table-bordered
    %tr
      %td Address: 
      %td{colspan: 2}= order.address
    - Dish.kinds.each_key do |kind|
      - kind = kind.singularize
      %tr
        %td= kind.humanize
        %td= order.send(kind).name
        %td= number_to_currency order.send(kind).price
    %tr
      %th{colspan: 2} Total
      %th= number_to_currency order.total_price
