.panel.panel-default
  .panel-heading
    = order.user.name
    .pull-right ##{order.id}
  .panel-body
    Address: #{order.address}
  .list-group
    - Dish.kinds.each_key do |kind|
      .list-group-item
        - kind = kind.singularize
        #{kind.humanize}: #{order.send(kind).name}
        %span.badge= number_to_currency order.send(kind).price
  .panel-footer
    Total:
    %span.badge.pull-right= number_to_currency order.total_price
