= show_admin_navbar :dashboard
%br
= link_to_back
%h2 Make an order
= simple_form_for @order do |f|
  = f.error_notification
  .row
    - Dish.kinds.each_key do |kind|
      .col-sm-4
        .form-inputs
          - dish_id_method = "#{kind.singularize}_id"
          = f.input dish_id_method do
            .list-group{"data-toggle": "buttons"}
              - @dishes.send(kind).each do |dish|
                .btn.btn-default.btn-block{class: ("active" if @order.send(dish_id_method) == dish.id)}
                  = f.radio_button dish_id_method, dish.id
                  %strong.dish-name= dish.name
                  %br
                  = number_to_currency dish.price
  %hr
  .form-inputs
    = f.input :address
  .form-actions
    = f.button :submit

