%header
  .row
    %nav.navbar.navbar-inverse.navbar-top{role: "navigation"}
      .container
        .navbar-header 
          .navbar-brand
            = link_to  root_path do
              %span.glyphicon.glyphicon-leaf
              LAUNCH DELIVERY COMPANY
          %button{type: "button", class: "navbar-toggle", 
                  data: {toggle: 'collapse',target: '#responsive-menu'}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .collapse.navbar-collapse.navbar-right#responsive-menu
          %ul.nav.navbar-nav
            - if signed_in?
              %li.dropdown
                %a{data: {toggle: "dropdown"}, href: "#"}
                  = current_user.name
                %ul.dropdown-menu{role: "menu", aria: {labelledby: "dLabel"}}
                  %li= link_to 'Sign out', sign_out_path
            - else
              %li= link_to 'Sign up', sign_up_path
              %li= link_to 'Sign in', sign_in_path
